# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Code/server/dingyserver/target/m2e-wtp/web-resources/META-INF/maven/com.dingy/dingyserver/pom.properties
Code/server/.metadata/version.ini
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_5.cfs
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4_1.del
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_5
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_3.cfs
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_2_1.del
Code/server/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/write.lock
Code/server/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/dingyserver/META-INF/maven/com.dingy/dingyserver/pom.properties
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/dingyserver/SESSIONS.ser
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/logs/localhost_access_log.2017-08-30.txt
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/publish/publish0.dat
Code/server/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
Code/server/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
Code/server/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
Code/server/.metadata/.plugins/org.eclipse.core.resources/.projects/dingyserver/.syncinfo.snap
Code/server/.metadata/.plugins/org.eclipse.core.resources/.projects/dingyserver/.markers.snap
Code/server/.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
Code/server/.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
Code/server/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/9da93a47d0998c2e12a5a65fbc60f386/segments_5
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/9da93a47d0998c2e12a5a65fbc60f386/segments.gen
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/9da93a47d0998c2e12a5a65fbc60f386/_3.cfs
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/9da93a47d0998c2e12a5a65fbc60f386/_2_1.del
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_7
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
Code/server/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Code/server/.metadata/.plugins/org.eclipse.core.resources/3.snap
Code/server/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Code/server/.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
Code/server/.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
Code/server/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
Code/server/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
Code/server/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
Code/server/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
Code/server/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
Code/server/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/4121030235.index
Code/server/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/4068492090.index
Code/server/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3540155474.index
Code/server/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2449057243.index
Code/server/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1408728058.index
Code/server/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1401620955.index
Code/server/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Code/server/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Code/server/.metadata/.plugins/org.eclipse.ui.intro/introstate
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments_1
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments.gen
Code/server/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
Code/server/.metadata/.plugins/org.eclipse.debug.core/.launches/dingyserver.launch
Code/server/.metadata/.plugins/org.eclipse.debug.core/.launches/Tomcat v9.0 Server at localhost.launch
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.discovery.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.core.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
Code/server/.metadata/.plugins/org.eclipse.jdt.core/1401620955.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/1085796001.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/1078194832.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/1028420908.index
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.nrm
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.frq
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
Code/server/.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
Code/server/.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
Code/server/.metadata/.plugins/org.eclipse.wst.validation/dep.index
Code/server/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/dingyserver/index.jsp
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/dingyserver/WEB-INF/web.xml
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/9da93a47d0998c2e12a5a65fbc60f386/_0.cfs
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4.cfs
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3_1.del
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3.cfs
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0_1.del
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_2.cfs
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_1_1.del
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_1.cfs
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0_1.del
Code/server/.metadata/.plugins/org.eclipse.jdt.core/3208752909.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/3196804651.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/2936949590.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/2762746979.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/2521783677.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/2475401368.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/2422426042.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/2312128754.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/2308705752.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/2247404230.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/2162160438.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/2019271009.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/1762489263.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/1510137023.index
Code/server/.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
Code/server/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Code/server/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-qda3mso_32631/node.properties
Code/server/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-qda3mso_32631/H.local_16/node.properties
Code/server/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-qda3mso_32631/FP.local.files_0/node.properties
Code/server/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
Code/server/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
Code/server/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
Code/server/.metadata/.plugins/org.eclipse.m2e.jdt/dingyserver.container
Code/server/.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
Code/server/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/9da93a47d0998c2e12a5a65fbc60f386/write.lock
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/9da93a47d0998c2e12a5a65fbc60f386/_2.cfs
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/9da93a47d0998c2e12a5a65fbc60f386/_1_1.del
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/9da93a47d0998c2e12a5a65fbc60f386/_1.cfs
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/9da93a47d0998c2e12a5a65fbc60f386/_0_1.del
Code/server/.metadata/.plugins/org.eclipse.jdt.core/806556397.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/605736076.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/589541979.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/4220150767.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/4194509408.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/4137163996.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/4055476624.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/3998700774.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/3981319373.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/3939447550.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/3919325409.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/3836927521.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/3640165713.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/3608063465.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/3554032198.index
Code/server/.metadata/.plugins/org.eclipse.jdt.core/3270895404.index
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/dingyserver/META-INF/maven/com.dingy/dingyserver/pom.xml
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/dingyserver/META-INF/MANIFEST.MF
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/ROOT/WEB-INF/web.xml
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/dingyserver/org/apache/jsp/index_jsp.java
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/web.xml
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/tomcat-users.xml
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/server.xml
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/context.xml
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/catalina.properties
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/catalina.policy
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp-data.xml
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/servers.xml
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/publish.xml
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/monitors.xml
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
Code/server/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
Code/server/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/dingyserver/2017/8/35/refactorings.index
Code/server/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/dingyserver/2017/8/35/refactorings.history
Code/server/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Code/server/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Code/server/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Code/server/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
Code/server/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Code/server/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Code/server/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Code/server/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Code/server/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Code/server/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Code/server/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Code/server/.metadata/.plugins/org.eclipse.jdt.core/914924236.index
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.server.tomcat.core.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Code/server/.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
Code/server/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Code/server/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Code/server/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Code/server/.metadata/.plugins/org.eclipse.core.resources/.projects/dingyserver/.markers
Code/server/.metadata/.plugins/org.eclipse.core.resources/.projects/dingyserver/.indexes/properties.index
Code/server/.metadata/.plugins/org.eclipse.core.resources/.projects/dingyserver/.indexes/e4/b9/22/81/3b/c2/history.index
Code/server/.metadata/.plugins/org.eclipse.core.resources/.projects/dingyserver/.indexes/e4/b9/22/81/3b/c2/db/history.index
Code/server/.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.indexes/75/history.index
Code/server/.metadata/.plugins/org.eclipse.core.resources/.history/d0/40d25f28a88d001718c8823473be76bc
Code/server/.metadata/.plugins/org.eclipse.core.resources/.history/9d/909db313a88d001718c8823473be76bc
Code/server/.metadata/.plugins/org.eclipse.core.resources/.history/1e/10ec5c28a88d001718c8823473be76bc
Code/server/.metadata/.lock
Code/server/Servers/Tomcat v9.0 Server at localhost-config/web.xml
Code/server/Servers/Tomcat v9.0 Server at localhost-config/tomcat-users.xml
Code/server/Servers/Tomcat v9.0 Server at localhost-config/server.xml
Code/server/Servers/Tomcat v9.0 Server at localhost-config/context.xml
Code/server/Servers/Tomcat v9.0 Server at localhost-config/catalina.properties
Code/server/Servers/Tomcat v9.0 Server at localhost-config/catalina.policy
Code/server/Servers/.settings/org.eclipse.wst.server.core.prefs
Code/server/Servers/.project
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/modules.xml
Code/server/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
Code/server/.metadata/.plugins/org.eclipse.jdt.core/3125979650.index
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm
Code/server/.metadata/.plugins/org.eclipse.core.resources/.history/e0/307db0d0af8d00171ad0c88a0e996ef1
