# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Code/server/dingyserver/target/m2e-wtp/web-resources/META-INF/maven/com.dingy/dingyserver/pom.properties
Code/server/.metadata/version.ini
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_5.cfs
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4_1.del
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_5
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_3.cfs
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_2_1.del
Code/server/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Code/server/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/write.lock
Code/server/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/dingyserver/META-INF/maven/com.dingy/dingyserver/pom.properties
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/dingyserver/SESSIONS.ser
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/logs/localhost_access_log.2017-08-30.txt
Code/server/.metadata/.plugins/org.eclipse.wst.server.core/publish/publish0.dat
Code/server/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
Code/server/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
Code/server/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
Code/server/.metadata/.plugins/org.eclipse.core.resources/.projects/dingyserver/.syncinfo.snap
Code/server/.metadata/.plugins/org.eclipse.core.resources/.projects/dingyserver/.markers.snap
Code/server/.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
Code/server/.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
Code/server/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/9da93a47d0998c2e12a5a65fbc60f386/segments_5
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/9da93a47d0998c2e12a5a65fbc60f386/segments.gen
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/9da93a47d0998c2e12a5a65fbc60f386/_3.cfs
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/9da93a47d0998c2e12a5a65fbc60f386/_2_1.del
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_7
Code/server/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
Code/server/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Code/server/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Code/server/.metadata/.plugins/org.eclipse.core.resources/3.snap
Code/server/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
