# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar we do want to share our jars.. i think 
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Code/server/dingyserver/target/m2e-wtp/web-resources/META-INF/maven/com.dingy/dingyserver/pom.properties

Code/server/.metadata/
Code/client/Dingy/Dingy.iml

Code/client/Dingy/local.properties
Code/client/Dingy/gradlew.bat
Code/client/Dingy/gradlew
Code/client/Dingy/.gradle/
Code/client/Dingy/.idea/
*.iml
Code/client/Dingy/app/.externalNativeBuild/
Code/client/Dingy/app/build/
Code/client/Dingy/app/proguard-rules.pro
Code/client/Dingy/app/CMakeLists.txt
Code/client/Dingy/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
Code/client/Dingy/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
Code/client/Dingy/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
Code/client/Dingy/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
Code/client/Dingy/app/src/main/res/mipmap-xhdpi/ic_launcher.png
Code/client/Dingy/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
Code/client/Dingy/app/src/main/res/mipmap-mdpi/ic_launcher.png
Code/client/Dingy/app/src/main/res/mipmap-hdpi/ic_launcher.png
Code/client/Dingy/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Code/client/Dingy/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
Code/client/Dingy/build/
Documentation/~WRL2147.tmp
Documentation/~$stallation.docx
Code/client/Dingy/gradle/wrapper/gradle-wrapper.properties
Code/server/Servers/
Code/client/Dingy/app/src/main/cpp/native-lib.cpp
Code/client/Dingy/gradle/wrapper/gradle-wrapper.jar
*.classpath
Code/server/dingyserver/.settings/org.eclipse.wst.common.component
Code/server/.recommenders/
